body {
    background-color: rgb(61, 61, 61);
}
h1 {
    text-align: center;
    color: white;
    margin-bottom: 40px;
}
img {
    height: auto;
    width: 256px;
}
.ai img {
    rotate: 180deg;
    transform: scaleX(-1);
    transition: transform 0.5s;
}
.game {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.info {
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 0 50px;
}
.playerScore, .computerScore {
    font-size: 40px;
}
.gameText {
    font-size: 28px;
    color: white;
}
.ai, .player, .gameText{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.computerSelect {
    transform: scaleX(-1) scale(1.4) !important;
}